	<!--Hero Section-->
	<section class="relative pl-8 overflow-hidden">
			<div class="container mx-auto flex flex-col lg:flex-row items-center gap-12">
			<!-- Content -->
			<div class="mt-4 flex flex-1 flex-col items-center lg:items-start overflow-hidden">        
				<h2 class="bg-clip-text text-orange-400 font-mono
				italic font-bold text-2xl md:text-4 lg:text-3xl text-center lg:text-center  py-1 slideUp">
					Taste of your homely food!
					<!-- Learn. Cook. Share.<br/>Cooking Made Easy. -->
				</h2>
					<h2 class="bg-clip-text font-bold text-4xl md:text-4 lg:text-6xl text-center lg:text-center mb-2 py-1 slideUp">
					Delicious every food bite!
					<!-- Learn. Cook. Share.<br/>Cooking Made Easy. -->
				</h2>
				<div class="overflow-hidden">
				<!-- <p class="text-xl md:text-2xl text-center lg:text-left slideUp">
					Please choose your favorite food for everyday your part
				</p>
				<p class=" text-xl md:text-2xl text-center lg:text-left slideUp">
					will be delivery right time your place</p> -->
				<p class="font-sans italic text-xl md:text-2xl text-center lg:text-left slideUp">
					<!-- We promise you'll enjoy every sweet momemt. Find your favorite now,eat what you love and save your time for something cool! -->
					Blessed souls are those who get to enjoy three meals everday..... <br>Let us always thank God for blessing us with food.<br>A very Happy World Food Day to you.
				</p>
				<!-- <p class="font-thin text-xl md:text-3xl text-center lg:text-left slideUp">
					in minutes.</p> -->
				</p>
				</div>
				<div class="flex mx-auto md:mx-40 mt-8 justify-center flex-wrap">
				<a href="/menu">
				<button type="button" class="bg-orange-500 hover:bg-orange-600 text-white text-xl font-regular py-2 px-4 rounded transition duration-500 ease-in-out bg-orange-500 hover:bg-orange-600 transform hover:-translate-y-1 hover:scale-110 ...">
					Order Now
				</button>
				</a>
				</div>
			</div>
			<!-- Image -->
			<div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
				<img class="w-5/6 h-1/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-1/4" src="/img/main2.png" alt="" />
			</div>
			</div>
			<!-- Rounded Rectangle -->
			<!-- <div
			class="
				hidden
				md:block
				overflow-hidden
				bg-bookmark-purple
				rounded-l-full
				absolute
				h-80
				w-2/4
				top-32
				right-0
				lg:
				-bottom-28
				lg:-right-36
			"
			></div> -->
		</section>

		<!-- browse your restaurants -->
		<section class="relative md:m-10">
			<div id="search-dish-call" class="font-medium font-bold  text-2xl md:text-4xl text-center mb-6">Choose Your Favorite Restaurants</div>
		</section>

		<section class="px-8">
			<div class="container mx-auto flex flex-col lg:flex-row items-center gap-12">
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="#">
						<img class="rounded-t-lg h-64 w-full" src="/img/maggi.png" alt="" />
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Shakes Corner </h5>
						</a>
						<p class="mb-3 font-normal text-gray-70">A milkshake is a sweet beverage made by blending milk, ice cream, and flavorings or sweeteners such as butterscotch, caramel sauce, chocolate syrup, fruit syrup, or whole fruit into a thick, sweet, cold mixture.</p>
					</div>
				</div>
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="#">
						<img class="rounded-t-lg h-64 w-full" src="/img/burger.png" alt="" />
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Veg Burger</h5>
						</a>
						<p class="mb-3 font-normal text-gray-700 text-justif">A favorite haunt of students during off hours is the spacious and well-designed canteen with a suitable aesthetic touch. The canteen has a modern kitchen with the latest appliances to provide for Indian and Chinese cuisine. The interior is tastefully crafted to provide the much needed relief and soothing environment.</p>
					</div>
				</div>
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="#">
						<img class="rounded-t-lg h-64 w-full" src="/img/mojito.png" alt="" />
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Virgin Mojito</h5>
						</a>
						<p class="mb-3 font-normal text-gray-70">An amazing place to have any sort of Vegetarian meal. Thr quality and taste is top class. You can order anything from the menu and you won't regret it.


					</div>
				</div>

				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="#">
						<img class="rounded-t-lg h-64 w-full" src="/img/bhature.png" alt="" />
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chole Bhature </h5>
						</a>
						<p class="mb-3 font-normal text-gray-70">Chole Bhature is one of the mouth-watering, spicy, exotic dish from Punjabi Cuisine</p>
					</div>
				</div>
			</div>
			<div class="flex mx-auto md:mx-40 mt-8 justify-center flex-wrap gap-6">
				<a href="/menu">
				<button type="button" class="bg-teal-500 hover:bg-teal-600 text-white text-xl font-regular py-2 px-4 rounded transition duration-500 ease-in-out bg-orange-500 hover:bg-orange-600 transform hover:-translate-y-1 hover:scale-110 ...">
				Explore Menu
				</button>
			</a>
			</div>
		</section>

		<!--Browse Dish Section-->
		
		<section class="relative md:m-10">
			<div id="search-dish-call" class="font-medium font-bold  text-2xl md:text-4xl text-center mb-6">Choose Your Favorite Dish</div>
		</section>
		<div class="py-4 container overflow-x-hidden justify-center mx-auto flex flex-wrap lg:flex-row items-center gap-8">
		<section class="px-8">
			<div class="container mx-auto flex flex-col lg:flex-row items-center gap-12">
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="/menu-ramjihatti">
						<img class="rounded-t-lg h-64 w-full" src="/img/ccnt.png" alt="" />
					<div class="p-5">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chur Chur Naan Thali </h5>
						<p class="mb-3 font-normal text-justify text-gray-700">The famous chur chur naan thali contains shahi paneer+dal makhni+2 naan+raita+salad.</p>
					</div>
				</a>
				</div>
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="#">
						<img class="rounded-t-lg h-64 w-full" src="/img/csamosa.png" alt="" />
					<div class="p-5">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chowmein Samosa</h5>
						<p class="mb-3 font-normal text-justify text-gray-700">The Classic Samosa Gets An Indo-Chinese Twist. This chowmein samosa is the best solution for your craving.</p>
					</div>
				</a>
				</div>
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="\menu-shakes">
						<img class="rounded-t-lg h-64 w-full" src="/img/chip.png" alt="" />
					<div class="p-5">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Chocalate Shake</h5>
						<p class="mb-3 font-normal text-justify text-gray-700">Balancing the thick texture with the delightful and gooey crunch of choco-chips in a milkshake.
					</div>
					</a>
				</div>
				
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<a href="/menu">
						<img class="rounded-t-lg h-64 w-full" src="/img/bhature.png" alt="" />
					
					<div class="p-5">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chole Bhature </h5>
						<p class="mb-3 font-normal text-justify text-gray-700">Chole Bhature is one of the mouth-watering, spicy, exotic dish from Punjabi Cuisine.</p>
					</div>
				</a>
				</div>
			
			</div>
		</div>
			<div class="flex mx-auto md:mx-40 mt-8 justify-center flex-wrap gap-6">
				<a href="/menu">
				<button type="button" class="bg-teal-500 hover:bg-teal-600 text-white text-xl font-regular py-2 px-4 rounded transition duration-500 ease-in-out bg-orange-500 hover:bg-orange-600 transform hover:-translate-y-1 hover:scale-110 ...">
				Explore Menu
				</button>
			</a>
			</div>
		</section>

		<section class="flex mt-8">
			<div class="container mx-auto flex flex-col lg:flex-row items-center">
			<img src="/img/no_min.png" class="lg:w-1/3 md:w-full sm:w-full">
			<img src="/img/live_tracking.png" class="lg:w-1/3">
			<img src="/img/fast_delivery.png" class="lg:w-1/3">
			</div>
		</section>